
/* grid layout */
.container{
  display: grid;
  grid-template-columns:repeat(12, 1fr);
  grid-template-rows: auto 50px auto 50px auto 200px;
  grid-gap: 0px;

}


*{box-sizing: border-box;}

body{margin: 0;}



  header{
   grid-column: 1/-1;
   grid-row:1/2;
    align-self: center;
    justify-self:center;
    text-align: center;
  }

/* navigations meny*/
nav{
grid-column: 1/-1;
grid-row:2/3;
justify-self: center;
text-align: center;


}
nav a{
  text-align: center;
  display: inline-block;
  justify-self: center;
}

nav a:hover{
  background-color: #ddd;
  color: black;
}

/* sidans innehåll */
section{
text-align: center;
grid-column: 1/-1;
grid-row:3/4;
justify-self: center;
width: 75%;
}

right-column{
  grid-column: 3/6;
  grid-row:5/6;
  justify-self: center;
  text-align: center;
}
left-column{
  grid-column: 8/11;
  grid-row:5/6;
  justify-self:center;
  text-align: center;
}
center-column{
  grid-column: 6/8;
  grid-row:6/7;
  justify-self:center;
  text-align: center;
}
footer{
  grid-column: 1/-1;
  grid-row:7/8;
  /*grid-area: f;*/
  justify-self: center;
  padding: 20px;
}

/* media query för allt som är mindre än surf plattor */
  @media screen and (max-width: 992px) {
    left-column {
      grid-column: 3/10;
      grid-row: 5/7;
    }
    right-column {
      grid-column: 3/10;
      grid-row: 7/9;
    }
    center-column {
      grid-column: 3/10;
      grid-row: 9/11;
    }
    footer {
      grid-column: 1/-1;
      grid-row: 11/12;
    }
  }
